@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DemoFilterAndPaging.Models
@model List<Order>
<style>
    .paging a {
        margin: 2px;
    }
    .paging .active{
        font-size: 1.3em;
    }
</style>

<div>
    <form action="/Order/List" method="post">
    <div>
        <div>
            Employee
            <select name="empId">
                <option value="0" @((0 == ViewBag.CurEmployee)?"selected":"")>All employees</option>
                @foreach(Employee e in ViewBag.Employees)
                {
                    <option value="@e.EmployeeId" @((e.EmployeeId == ViewBag.CurEmployee)?"selected":"")>@(e.FirstName + " " + e.LastName)</option>
                }
            </select>
        </div>

        <div>
            Customer
            <select name="cusId">
                <option value="" @((String.IsNullOrEmpty( ViewBag.CurCustomer))?"selected":"")>All customer</option>
                @foreach (Customer e in ViewBag.Customers)
                {
                    <option value="@e.CustomerId" @((e.CustomerId.Equals( ViewBag.CurCustomer))?"selected":"")>@e.CompanyName</option>
                }
            </select>
        </div>
        <div>
            FromDate
            <input type="date" name="fromDate" value="@ViewBag.CurFromDate" />
        </div>
        <div>
            ToDate
            <input type="date" name="toDate" value="@ViewBag.CurToDate" />
        </div>
        <div>
            <input type="submit" value="Filter" />
        </div>
    </div>
    </form>
    <div>
        @if(Model.Count >0)
        {
            <h1>List of Orders</h1>
            <table>
                <tr>
                    <th>OrderId</th>
                    <th>Customer</th>
                    <th>Employee</th>
                    <th>OrderDate</th>
                </tr>
                @foreach (Order o in Model)
                {
                    <tr>
                        <td>@o.OrderId</td>
                        <td>@o.Customer.CompanyName</td>
                        <td>@(o.Employee.FirstName +" " + o.Employee.LastName)</td>
                        <td>@(Convert.ToDateTime(o.OrderDate).ToShortDateString())</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Khong co order nao</p>
        }
        
    </div>
    @if (ViewBag.TotalPages > 1)
    {
        <div class="paging">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a class="@((i==ViewBag.CurPage)?"active":"")"
           href="/Order/List?empId=@ViewBag.CurEmployee&cusId=@ViewBag.CurCustomer&fromDate=@ViewBag.CurFromDate&toDate=@ViewBag.CurToDate&pageIndex=@i">
                    @i
                </a>
            }
        </div>
    }
    
</div>
